/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/*************Body***************/

body{
    background: url("/images/bg.jpg") repeat scroll 0 0 #FFFFFF;
}


/************Header****************/

.myHeader {
    background: none repeat scroll 0 0 #333333;
    margin-bottom: 30px;
    padding: 20px 0 8px;
}

.myHeader a {
    color: #FFFFFF;
    top: 10px;
    position: relative;
}

.myHeader h3 {
    color: #FFFFFF;
}

/*
 * Socialite
 */

.socialite-button { display: none; opacity: 0; }
.socialite-loaded .socialite-button { display: block; opacity: 1; }
.socialite-button iframe { max-width: 100%; max-height: 100%; }

/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: block; margin: 0; padding: 10px; float: left; }
.social-buttons .socialite,
.social-buttons .socialised
{ display: block; position: relative; background: url('/images/social-sprite.png') 0 0 no-repeat; }
/* visually hidden from HTML5 Boilerplate */
.social-buttons .socialite span { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* fallback for default and non-loaded instances */
.social-buttons .twitter { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin { width: 60px; height: 65px; background-position: -215px 0; }
.social-buttons .stumbleupon { width: 50px; height: 65px; background-position: -295px 0; }
.social-buttons .socialite-loaded { background: none !important; }



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


