/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/******Post Headings********/

.postHeading{
	-moz-transition: width 0.3s linear 0s, background 0.2s ease 0s;
	-webkit-transition: width 0.3s linear 0s, background 0.2s ease 0s;
	 transition: width 0.3s linear 0s, background 0.2s ease 0s;
	 width: 630px;
	 padding-top: 5px;
	 text-shadow: 1px 1px 1px #363636; 
}

.postHeading:hover {
	background: none repeat scroll 0 0 rgba(54, 54, 54, 0.5);
	width: 640px;
}

.postHeading a:hover
{
	color:#FFFFFF;
}
/*******code*******/
/*code
{
	background: none repeat scroll 0 0 rgba(96, 185, 206, 0.7);
	color:#E3CEAB;
	display: block;
	padding: 0.53em;
}
*/
pre {
    background-color: #FFD073;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code, pre {
    border-radius: 3px 3px 3px 3px;
    padding: 0 3px 2px;
}

/*********Post Date******/
.postDate{
	color: #4099FF;
}


/*************Body***************/

/*body{
    background: url("/images/bg.jpg") repeat scroll 0 0 #FFFFFF;
}*/

/************Header****************/

.myHeader {
    background: none repeat scroll 0 0 #333333;
    margin-bottom: 30px;
    padding: 20px 0 8px;
}

.myHeader a {
    color: #FFFFFF;
    top: 10px;
    position: relative;
}

.myHeader h3 {
    color: #FFFFFF;
}

/*******************Footer***********/
.myFooter {
	/****background: none repeat scroll 0 0 #333333;***/
	margin-top: 30px;
	padding: 20px 0 8px;
	/*color: #FFFFFF;*/
	}

/*
 * Socialite
 */

.socialite-button { display: none; opacity: 0; }
.socialite-loaded .socialite-button { display: block; opacity: 1; }
.socialite-button iframe { max-width: 100%; max-height: 100%; }

/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: block; margin: 0; padding: 10px; float: left; }
.social-buttons .socialite,
.social-buttons .socialised
{ display: block; position: relative; background: url('/images/social-sprite.png') 0 0 no-repeat; }
/* visually hidden from HTML5 Boilerplate */
.social-buttons .socialite span { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* fallback for default and non-loaded instances */
.social-buttons .twitter { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin { width: 60px; height: 65px; background-position: -215px 0; }
.social-buttons .stumbleupon { width: 50px; height: 65px; background-position: -295px 0; }
.social-buttons .socialite-loaded { background: none !important; }


/********Selection*********/
::-moz-selection { background: #333333; color: #fff; text-shadow: none; }
::selection { background: #333333; color: #fff; text-shadow: none; }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


