.circlepic{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-left: 50px;
}

#ali {
  background: url("/images/ali.jpeg") no-repeat;
  }