.post42
{
	background: url("/images/389-c.png") no-repeat scroll center center #FFFFFF;
}

.post41
{
	background: url("/images/startups-c.png") no-repeat scroll center #FFFFFF;
}

.post40
{
	background: url("/images/MVC-c.png") no-repeat scroll center #FFFFFF;
}

.post39
{
	background: url("/images/wordpress-logo-c.png") no-repeat scroll center #FFFFFF;
}

.postdefault{
	background: none no-repeat scroll center #325e6a;
}

.post
{
	width: 200px;
	height: 200px;
}

.post h4{
	background: none repeat scroll 0 0 rgba(43, 166, 203, 0.8);
}

.post h6{
	background: none repeat scroll 0 0 rgba(77, 77, 77, 0.8);
	color: #FFFFFF;
}

.post a
{
	color:#FFFFFF;
}




