body {background: url("/images/bedge_grunge.png") repeat scroll 0 0 #FFFFFF;  margin: 0; font-size: 1em; line-height: 1.4; }

.post49{
	background: url("/images/gbglobal1.png") repeat scroll center center #FFFFFF;
}

.post48{
	background: url("/images/post48.png") no-repeat scroll center center #FFFFFF;
}

.post47{
	background: url("/images/post47.png") no-repeat scroll center center #FFFFFF ;
}

.post46{
	background :url("/images/backbone.png") no-repeat scroll center center #FFFFFF;
}
.post45
{
	background: url("/images/plan9balloon.PNG") no-repeat scroll center center #FFFFFF;
}
.post44{
	background: url("/images/picard-facepalm-thumb.jpg") no-repeat scroll center center #FFFFFF;
}

.post43{
	
	background: url("/images/couponific.png") no-repeat scroll center center #FFFFFF;
}


.post42
{
	background: url("/images/389-c.png") no-repeat scroll center center #FFFFFF;
}

.post41
{
	background: url("/images/startups-c.png") no-repeat scroll center #FFFFFF;
}

.post40
{
	background: url("/images/MVC-c.png") no-repeat scroll center #FFFFFF;
}

.post39
{
	background: url("/images/wordpress-logo-c.png") no-repeat scroll center #FFFFFF;
}

.postdefault{
	background: none no-repeat scroll center #325e6a;
}

.post
{
	width: 200px;
	height: 200px;
}

.post h4{
	background: none repeat scroll 0 0 rgba(43, 166, 203, 0.8);
}

.post h6{
	background: none repeat scroll 0 0 rgba(77, 77, 77, 0.8);
	color: #FFFFFF;
}

.post a
{
	color:#FFFFFF;
}




