.space_the_final_frontier{
	clear: both;
	height: 2em;
	overflow: hidden;
}

h2 a {
	color: #404040;
	
}

h2 a {
	
	-moz-transition-duration: 0.40s;
	-moz-transition-property: color;
	outline-medium: none;
}

h2 a:hover{
	color: #463612;
	text-decoration: none;
}