---
layout: default
---
<div class="col-md-2">
	{% if page.previous.url %}
	<a id="leftChev" class="pull-left" href="{{page.previous.url}}" title="Previous Post:
	{{page.previous.title}}"><span class="icon icon-2x icon-chevron-left"></span></a>
	{% endif %}
</div>
<div class="col-md-8 zone-content">
	<article>
		<h1 class="animated bounceInUp">{{ page.title }}</h1>
		<p><small class="centreThis">{% if page.previous.url %}<a href="{{page.previous.url}}" id="leftChevResp"><span class="icon icon-2x icon-chevron-left"></span></a>{% endif %}  {{page.date | date_to_string}}  {% if page.next.url %}<a href="{{page.next.url}}" id="rightChevResp"><span class="icon icon-2x icon-chevron-right"></span></a>{% endif %}</small></p>
		{{ content }}
	</article>
	<div class="row">
		<div class="col-md-2">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="aliirz" data-related="aliirz">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
		<div class="col-md-2">
			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			lang: en_US
			</script>
			<script type="IN/Share" data-counter="right"></script>
		</div>
		<div class="col-md-2">
			<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
		</div>
		<div class="col-md-2">
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone"></div>

			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</div>
		<div class="col-md-2">
			<a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal">Vote on Hacker News</a>
			<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
		</div>
		<div class="col-md-2">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=188051854733165";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-share-button" data-type="button_count"></div>
		</div>
	</div>
	{% include disqus.html %}
</div>
<div class="col-md-2">
	{% if page.next.url %}
	<a id="rightChev" class="pull-right" href="{{page.next.url}}" title="next Post:
	{{page.next.title}}"><span class="icon icon-2x icon-chevron-right"></span></a>
	{% endif %}
</div>

