---
layout: default
title: A Ninja Scientist Dev Blog
---

{% for post in paginator.posts %}
<!-- here add you post markup -->
<h2 class="postHeading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<blockquote>Posted on {{post.date | date_to_string}}</blockquote>
  	<div class="postContent">
    		{{ post.content }}
  	</div>
    <div class="categories">{{ post.categories | category_links }}</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagerSC">

  {% if paginator.previous_page %}
  <span class="nextprevSC">
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </span>
  {% else %}
  <span class="nextprevSC">
    Previous
  </span>
  {% endif %}

  <ul>
    <li>
      {% if paginator.page == 1 %}
      <span class="currentSC">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li>
      {% if count == paginator.page %}
      <span class="currentSC">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
  <span class="nextprevSC">
    <a href="/page{{paginator.next_page}}">Next</a>
  </span>
  {% else %}
  <span class="currentSC">
    Next
  </span>
  {% endif %}

</div>
