---
layout: default
title: From The Geek's Head
---

{% for post in paginator.posts %}
<!-- here add you post markup -->
<h2 class="postHeading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<blockquote class="postDate">Posted on {{post.date | date_to_string}}</blockquote>
  	<div class="postContent">
    		{{ post.content }}
  	</div>
    <div class="categories">{{ post.categories | category_links }}</div>
    <ul class="social-buttons cf">
	<li>
		<a href="http://twitter.com/share" class="socialite twitter" data-text="{{ post.title }}" data-url="http://aliirz.com{{ post.url }}" data-count="vertical" data-via="aliirz" rel="nofollow" target="_blank"><span>Share on Twitter</span></a>
	</li>
	<li>
		<a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://aliirz.com{{ post.url }}" class="socialite googleplus" data-size="tall" data-href="http://aliirz.com{{ post.url }}" rel="nofollow" target="_blank"><span>Share on Google+</span></a>
	</li>
	<li>
		<a href="http://www.facebook.com/sharer.php?u=http://aliirz.com{{ post.url }}&amp;t={{ post.title }}" class="socialite facebook" data-href="http://aliirz.com{{ post.url }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span>Share on Facebook</span></a>
	</li>
	<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://aliirz.com{{ post.url }}&amp;title={{ post.title }}" class="socialite linkedin" data-url="http://aliirz.com{{ post.url }}" data-counter="top" rel="nofollow" target="_blank"><span>Share on LinkedIn</span></a>
	</li>
</ul>
    <div id="space_final_frontier"></div>
  
{% endfor %}

<!-- Pagination links -->
<nav class="pagination">
	<ul>
  		{% if paginator.previous_page %}
  			<li>
    			{% if paginator.previous_page == 1 %}
    				<a href="/">Previous</a>
    			{% else %}
    				<a href="/page{{paginator.previous_page}}">Previous</a>
    			{% endif %}
  			</li>
  		{% else %}
  			<li>
    			Previous
  			</li>
  		{% endif %}

    	<li class="current">
      		{% if paginator.page == 1 %}
      			1
      		{% else %}
      			<a href="/">1</a>
      		{% endif %}
   		</li>

    {% for count in (2..paginator.total_pages) %}
  
      		{% if count == paginator.page %}
      			<li class="current">
      			{{count}}
      			</li>
      		{% else %}
      			<li>
      				<a href="/page{{count}}">{{count}}</a>
      			</li>
      		{% endif %}

    	{% endfor %}

  	{% if paginator.next_page %}
  		<li>
    		<a href="/page{{paginator.next_page}}">Next</a>
  		</li>
  	{% else %}
  		<li class="current">
    		Next
  		</li>
  	{% endif %}
</ul>
</nav>
