---
layout: default
title: A Ninja Scientist's Blog
---

{% for post in paginator.posts %}
<!-- here add you post markup -->
<h2 class="postHeading"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<blockquote class="postDate">Posted on {{post.date | date_to_string}}</blockquote>
  	<div class="postContent">
    		{{ post.content }}
  	</div>
    <div class="categories">{{ post.categories | category_links }}</div>
    <div id="space_final_frontier"></div>
  
{% endfor %}

<!-- Pagination links -->
<nav class="pagination">
<ul>
  {% if paginator.previous_page %}
  <li>
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </li>
  {% else %}
  <li>
    Previous
  </li>
  {% endif %}

    <li class="current">
      {% if paginator.page == 1 %}
      1
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
  
      {% if count == paginator.page %}
      <li class="current">
      	{{count}}
      </li>
      {% else %}
      <li>
      <a href="/page{{count}}">{{count}}</a>
      </li>
      {% endif %}

    {% endfor %}

  {% if paginator.next_page %}
  <li>
    <a href="/page{{paginator.next_page}}">Next</a>
  </li>
  {% else %}
  <li class="current">
    Next
  </li>
  {% endif %}
</ul>
</nav>
