/*Logo*/

.logo{
	font-family: 'Open Sans',sans-serif;
	font-size: 40px;
	font-weight: 200;
	text-align: center;
	color: #299ECB;
	/*padding-right: 150px;*/
	/*background-color: #ecf0f1;*/
/*	text-shadow: 0 0 3px #299ECB;
	text-shadow: 0 3px 0 #2ecc71;
	text-shadow: 3px 0 0 #e74c3c;*/

}

.geek{
	color: #2ecc71;
/*	text-shadow: 0 0 3px #9b59b6;
	text-shadow: 0 3px 0 #95a5a6;
	text-shadow: 3px 0 0 #e74c3c;*/
}

.head{
	color: #9b59b6;
}


/*Custom Misc. Styles*/

#sharelinks ul{
	display: inline;
	list-style: none;
}

#sharelinks li {
	list-style: none;
	display: inline;
}


a.button-link{
	background-color: #299ECB;
	color: #FFFFFF;
}

#social a{
	color: #299ECB;
}


ul.blog-posts{
	margin-right: 45px;
}


.main-content{
	margin-top: 0px;
}

h1{
	color: #299ECB;
}

a {
	color: #299ECB;
	text-decoration: none;
/*	transition: background-color 450ms ease-out;
	-moz-transition: background-color 450ms ease-out;
	-webkit-transition: background-color 450ms ease-out;
	-o-transition: background-color 450ms ease-out;*/
	transition: color 450ms ease-out;
	-moz-transition: color 450ms ease-out;
	-webkit-transition: color 450ms ease-out;
	-o-transition: color 450ms ease-out;
}

h1 a {
	color: #299ECB;
	text-decoration: none;
	/*transition: background-color 450ms ease-out;
	-moz-transition: background-color 450ms ease-out;
	-webkit-transition: background-color 450ms ease-*/out;
	-o-transition: background-color 450ms ease-out;
	transition: color 450ms ease-out;
	-moz-transition: color 450ms ease-out;
	-webkit-transition: color 450ms ease-out;
	-o-transition: color 450ms ease-out;
}

h1 a:hover{
	text-decoration: none;
	/*background-color: #2c3e50;*/
	color: #2c3e50;
}

a:hover{
	text-decoration: none;
	/*	background-color: #2c3e50;*/
	color:  #2c3e50;
}

body{
	background-color: none;
}

/*Chevrons*/

#leftChev{
	/*cursor: pointer;*/
	transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	-webkit-transition: padding-left 250ms ease-out;
	-o-transition: padding-left 250ms ease-out;
}

#rightChev{
	transition: padding-right 250ms ease-out;
	-moz-transition: padding-right 250ms ease-out;
	-webkit-transition: padding-right 250ms ease-out;
	-o-transition: padding-right 250ms ease-out;
}

#leftChev:hover{
	padding-left: 20px;
	text-decoration: none;
	background-color: none;
}

#rightChev:hover{
	padding-right: 20px;
	text-decoration: none;
	background-color: none;
}

#leftChevResp{
	display:none;

}
#rightChevResp{
	display:none;
}

#leftChevResp:hover{
	text-decoration: none;
	
}
#rightChevResp:hover{
	text-decoration: none;
}

@media screen and (max-width: 1000px) {  
	#leftChev{
		display:none;
	}
	#rightChev {
		display:none;
	}
	#leftChevResp{
		display:inline;
	}
	#rightChevResp{
		display:inline;
	}
}


/*custom navbar*/
nav {
	height: 40px;
	width: 100%;
	background: #299ECB;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	/*font-weight: bold;*/
	position: relative;
	border-bottom: 2px solid #283744;
	opacity: 0.92;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	/*text-shadow: 1px 1px 0px #283744;*/
}

nav li a {
	border-right: 1px solid #576979;  
	box-sizing:border-box;  
	-moz-box-sizing:border-box;  
	-webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
	border-right: 0;  
}  

nav a:hover, nav a:active {  
	background-color: #2980b9;  
}  
nav a#pull {  
	display: none;  
}  


@media screen and (max-width: 600px) {  
	nav {   
		height: auto;  
	}  
	nav ul {  
		width: 100%;  
		display: block;  
		height: auto;  
	}  
	nav li {  
		width: 50%;  
		float: left;  
		position: relative;  
	}  
	nav li a {  
		border-bottom: 1px solid #576979;  
		border-right: 1px solid #576979;  
	}  
	nav a {  
		text-align: left;  
		width: 100%;  
		text-indent: 25px;  
	}  
}  

@media only screen and (max-width : 480px) {  
	nav {  
		border-bottom: 0;  
	}  
	nav ul {  
		display: none;  
		height: auto;  
	}  
	nav a#pull {  
		display: block;  
		background-color: #299ECB;  
		width: 100%;  
		position: relative;  
	}  
	nav a#pull:after {  
		content:"";  
		background: url('/images/nav-icon.png') no-repeat;  
		width: 30px;  
		height: 30px;  
		display: inline-block;  
		position: absolute;  
		right: 15px;  
		top: 10px;  
	}  
}
@media only screen and (max-width : 320px) {  
	nav li {  
		display: block;  
		float: none;  
		width: 100%;  
	}  
	nav li a {  
		border-bottom: 1px solid #576979;  
	}  
}  

nav a:hover, nav a:focus{
	text-decoration: none;
	color: #ecf0f1;
} 


/*util classes*/
.centreThis{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/*Hr*/
hr {
	border-bottom-color: #2c3e50;
}

hr {
	margin-top: 12px;
	border-top: none;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid 
	#eee;
	border-bottom: 1px solid 
	#fff;
}