<div class="panel">
	<div class="circlepic" id="ali"></div>
	<!-- <img src="/images/originals.jpg" alt="woah!"/> -->
	<h4>Ali R</h4>
	<p>Entrepreneurial Tech. Ninja</p>
	<ul class="block-grid five-up">
			<li>
				<span class="glyph social"><a href="http://twitter.com/aliirz" target="_blank">e</a></span>
			</li>
			<li>
				<span class="glyph social"><a href="http://pinterest.com/aliirz/" target="_blank">f</a></span>
			</li>
			<li>
				<span class="glyph social"><a href="http://pk.linkedin.com/pub/ali-raza/b/657/33" target="_blank">g</a></span>
			</li>
			<li>
				<span class="glyph social"><a href="http://feeds.feedburner.com/FromTheGeeksHead" target="_blank">c</a></span>
			</li>
		</ul> 
</div>