<footer class="row myFooter">
	<section class="four columns">
		<strong>A ninja dev's personal blog</strong>
		<p>Made with <a href="http://www.linode.com/?r=7ccc576834f187bd194f334bf249544a6ed073be" target="_blank">Linode</a>, other awesome technologies and the power of will.</p>
	</section>
	<section class="five columns">
		<p>2012 &copy; Ali Raza</p>
	</section>
	<section class="three columns">
		<strong>Follow, Add, Subscribe:</strong>
		<ul class="block-grid five-up">
			<li>
				<a href="http:twitter.com/aliirz" target="_blank"><img src="/images/Twitter.png" alt=""/></a>
			</li>
			<li>
				<a href="http://forr.st/-aliirz" target="_blank"><img src="/images/Forrst.png" alt=""/></a>
			</li>
			<li>
				<a href="http://pk.linkedin.com/pub/ali-raza/b/657/33" target="_blank"><img src="/images/LinkedIn.png" alt=""/></a>
			</li>
			<li>
				<a href="http://feeds.feedburner.com/FromTheGeeksHead" target="_blank"><img src="/images/RSS.png" alt=""/></a>
			</li>
	</section>
</footer>