<footer class="row myFooter">
	<section class="four columns">
		<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" />
		<p><strong>2012 &copy; Ali Raza. All rights reserved.</strong></p>
	</section>
	<section class="five columns">
		<strong>Ali Raza's Personal Blog.</strong>
		<p>Made with <a href="http://www.linode.com/?r=7ccc576834f187bd194f334bf249544a6ed073be" target="_blank">Linode</a>, Google App Engine and other awesome <a href="/about">technologies</a> and the power of will.</p>
	</section>
	<section class="three columns">
		<strong>Follow, Add, Subscribe:</strong>
		<ul class="block-grid five-up">
			<li>
				<a href="http:twitter.com/aliirz" target="_blank"><img src="/images/Twitter.png" alt=""/></a>
			</li>
			<li>
				<a href="http://forr.st/-aliirz" target="_blank"><img src="/images/Forrst.png" alt=""/></a>
			</li>
			<li>
				<a href="http://pk.linkedin.com/pub/ali-raza/b/657/33" target="_blank"><img src="/images/LinkedIn.png" alt=""/></a>
			</li>
			<li>
				<a href="http://feeds.feedburner.com/FromTheGeeksHead" target="_blank"><img src="/images/RSS.png" alt=""/></a>
			</li>
	</section>
</footer>