<!-- JS Files -->
    <script src="http://aliirzdotcom.appspot.com/js/libs/jquery.min.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/modernizr.foundation.js"></script>
	<!-- Combine and Compress These JS Files -->
	<script src="http://aliirzdotcom.appspot.com/js/libs/jquery.reveal.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/jquery.orbit-1.4.0.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/jquery.customforms.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/jquery.placeholder.min.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/jquery.tooltips.js"></script>
	<!-- End Combine and Compress These JS Files -->
	<script src="http://aliirzdotcom.appspot.com/js/libs/app.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/libs/socialite.min.js"></script>
	<script src="http://aliirzdotcom.appspot.com/js/script.js"></script>
	