<div class="row">
	<ul class="social-buttons cf">
   		<li>
    			<a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{ post.title }}" data-url="http://aliirz.com{{ post.url }}" data-count="vertical" data-via="aliirz" rel="nofollow" target="_blank">Share on Twitter</a>
    	</li>
    	<li>
    		<a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://aliirz.com{{ post.url }}" class="socialite googleplus-one" data-size="tall" data-href="http://aliirz.com{{ post.url }}" rel="nofollow" target="_blank">Share on Google+</a>
    	</li>
    	<li>
    		<a href="http://www.facebook.com/sharer.php?u=http://aliirz.com{{ page.url }}&amp;t={{ post.title }}" class="socialite facebook-like" data-href="http://aliirz.com{{ post.url }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank">Share on Facebook</a>
    	</li>
        <li>
            <a class="socialite pinterest-pinit" href="http://pinterest.com/pin/create/button/?url=http://aliirz.com{{ post.url }}&media={{ post.img }}" count-layout="vertical">Pin It</a> 
        </li>
    </ul>
</div>