<div class="row">
	<ul class="block-grid five-up social-buttons cf">
   		<li>
    			<a href="http://twitter.com/share" class="socialite twitter" data-text="{{ page.title }}" data-url="http://aliirz.com{{ page.url }}" data-count="vertical" data-via="aliirz" rel="nofollow" target="_blank"><span>Share on Twitter</span></a>
    	</li>
    	<li>
    		<a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://aliirz.com{{ page.url }}" class="socialite googleplus" data-size="tall" data-href="http://aliirz.com{{ page.url }}" rel="nofollow" target="_blank"><span>Share on Google+</span></a>
    	</li>
    	<li>
    		<a href="http://www.facebook.com/sharer.php?u=http://aliirz.com{{ page.url }}&amp;t={{ page.title }}" class="socialite facebook" data-href="http://aliirz.com{{ page.url }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span>Share on Facebook</span></a>
    	</li>
</ul>
</div>