  <link href="http://aliirzdotcom.appspot.com/css/globals.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/mobile.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/ui.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/forms.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/grid.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/orbit.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/reveal.css" rel="stylesheet"/>
    <link href="/css/typography.css" rel="stylesheet"/>
    <link href="http://aliirzdotcom.appspot.com/css/app.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet"/>