---
layout: default
---
<div class="offset1 col-md-9 zone-content">
	{{ content }}
</div>

<aside id="aside-right" class="aside-column offset1 col-md-3">
	<article class="widget-search-form widget">
		<header>
			<h1>Search</h1>
		</header>
		<form action="#" class="search-form" method="get">
			<fieldset>
				<input id="q" name="q" type="text" value="">
				<!-- <button type="submit" class="button-icon"><i class="glyphicons-icon search white"></i></button> -->
				<button type="submit">Go</button>
			</fieldset>
		</form>
	</article>

	<article class="widget-tag-cloud widget">
		<header>
			<h1>Tag Cloud</h1>
		</header>
		<ul class="tagcloud">
			<li class="tagCloud-tag tagCloud-1">
				<a href="blog.html#">London</a>
			</li>
			<li class="tagCloud-tag tagCloud-5">
				<a href="blog.html#">Edinburgh</a>
			</li>
			<li class="tagCloud-tag tagCloud-3">
				<a href="blog.html#">Hamburg</a>
			</li>
			<li class="tagCloud-tag tagCloud-4">
				<a href="blog.html#">Krakow</a>
			</li>
			<li class="tagCloud-tag tagCloud-2">
				<a href="blog.html#">Fortaleza</a>
			</li>
			<li class="tagCloud-tag tagCloud-1">
				<a href="blog.html#">Winterthur</a>
			</li>
			<li class="tagCloud-tag tagCloud-2">
				<a href="blog.html#">St.Gallen</a>
			</li>
			<li class="tagCloud-tag tagCloud-1">
				<a href="blog.html#">Jakarta</a>
			</li>
			<li class="tagCloud-tag tagCloud-5">
				<a href="blog.html#">Bangkok</a>
			</li>
			<li class="tagCloud-tag tagCloud-3">
				<a href="blog.html#">Belgrad</a>
			</li>
			<li class="tagCloud-tag tagCloud-4">
				<a href="blog.html#">Vienna</a>
			</li>
			<li class="tagCloud-tag tagCloud-4">
				<a href="blog.html#">Marrakech</a>
			</li>
			<li class="tagCloud-tag tagCloud-2">
				<a href="blog.html#">Miami</a>
			</li>
		</ul>
	</article>

	<article class="widget-triple-first widget-html-widget widget">
		<header>
			<h1>Random</h1>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nibh ut tortor dapibus vestibulum. Aliquam vel sem nibh. Suspendisse vel condimentum tellus.</p>
	</article>
</aside>